#body
{
    /** Be sure to use your selected colors */
    background-color: #fffad0;
}

.title
{
    background-color: #94eef5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

h1{
    color: black;
    text-align: center; 
}

h3{
    text-align: center; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-custom {
    background-color: #94eef5;
    overflow: hidden;
}